<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="background-color">
      <div class="container">
        <div class="sign-in-area">
          <h1 class="logo">Tower</h1>
          <div class="sign-box">
            <%= form_for(:session, url: sign_in_path) do |f| %>
              <h3 class="sign-title">登录</h3>
              <p><%= f.email_field :email, class: "form-control", placeholder: "登录邮箱" %></p>
              <p><%= f.password_field :password, class: "form-control", placeholder: "密码" %></p>

              <div class="form-check">
                <label class="checkbox-inline remember-me">
		  <%= f.check_box :remember_me, class: "form-check-input", :checked => true %>
                  <span class="form-check-label">下次自动登录</span>
                </label>
		<a href="/" class="forget-button sign-link">忘记密码了？</a>
              </div>
              <p><%= f.submit "登录", class: "btn btn-primary" %></p>
	      <p><a href="/sign_up" class="sign-link">没有账号？立即注册</a></p>

              <% end%>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
