<li id=<%= comment.hashid %>
    class="mission-comment"
    <% if team_administrator? %>
    data-action="mouseenter->comment#mouseEnterComment"
    <% end %>>
  <div class="mission-comment-user">
    <%= User.find(comment.user_id).name %>
  </div>
  <div class="mission-comment-date">
    <%= comment.format_comment_date %>
  </div>
  <div class="mission-comment-content">
    <%= comment.content %>
  </div>
</li>
<%= render "comments/comment_edit_form", commentid: comment.hashid %>
