<body class="fill-background-color" id="<%= controller.controller_name %>-<%= controller.action_name %>">
  <%= render 'layouts/header' %>
  <%= render "layouts/menu_eventarea" %>
  <%= render "layouts/mission_distributor_menu" %>
  <%= render "layouts/confirm_dialog", dialogid: "mission-confirm-dialog", message: "确定要删除这个任务吗?", controller: "mission", action: "mission#deleteMission" %>

  <%= render "layouts/mission_toolbar",
  delete_dialog: "#mission-confirm-dialog",
  dialog_id: "mission-confirm-dialog"
  %>

  <div class="board-box"
       data-controller="member mission">
    <div class="flex-vcenter personal_page_header">
      <%= image_tag @user.avatar_url, width: 80, height: 80, class: "avatar" %>
      <div class="inline-block personal_page_info">
        <div class="personal_page_username">
          <%= @user.name %>
        </div>
        <div class="personal_page_email">
          <%= @user.email %>
        </div>
      </div>
    </div>
    <div class="splitter"></div>

    <div class="user-missions-area">
      <% if @mission_list %>
        <% @mission_list.each do |mission| %>
          <% if !mission.is_finish %>
            <%= render "missions/create_mission", mission: mission, show_project: true %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="buttons-middle-blank"></div>
    <%= link_to user_finished_missions_path(params[:id]), class: "text-link-button" do %>
      查看已完成的任务
    <% end %>
    <div class="buttons-middle-blank"></div>
    <%= link_to user_created_missions_path(params[:id]), class: "text-link-button" do %>
      查看创建的任务
    <% end %>
  </div>

</body>
