<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="fill-background-color" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>

    <div class="board-box"
         data-controller="member">
      <div class="flex-vcenter personal_page_header">
	<%= image_tag current_user.avatar_url, width: 80, height: 80 %>
	<div class="inline-block personal_page_info">
          <div class="personal_page_username">
	    <%= current_user.name %>
	  </div>
          <div class="personal_page_email">
	    <%= current_user.email %>
	  </div>
	</div>
      </div>
      <div class="splitter"></div>
    </div>

  </body>
</html>
