<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="fill-background-color" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>

    <div class="board-box"
         data-controller="setting">
      <div class="setting-title">个人设置</div>
      <div class="margin-vertical-15px flex-vcenter">
        <div class="setting-icon"
	     id="user-photo">
          <%= image_tag current_user.avatar_url %>
        </div>
        <div class="inline-block">
	  <%= form_for current_user, :html => {:multipart => true, id: "user-photo-form"}, :remote => true do |f| %>

	    <div class="setting-icon-upload-button">
              <label for="attachment-input">
                选择新头像
              </label>

              <%= f.file_field :photo, id: "attachment-input", class: "setting-icon-upload-button", data: {
                  action: "change->setting#finishUpload"
              } %>
	    </div>

            <%= f.submit class: "hide" %>
	  <% end %>
          <div class="setting-description">你可以选择 png/jpg 图片作为头像</div>
        </div>
      </div>

      <%= form_for(:setting, url: user_setting_path(id: current_user.hashid)) do |f| %>
        <div class="margin-vertical-15px">
          <div class="setting-segment-title">名字</div>
          <%= f.text_field :name, class: "setting-entry", placeholder: "你的名字", value: current_user.name %>
        </div>

        <div class="margin-vertical-15px">
          <div class="setting-segment-title">邮箱</div>
          <%= f.email_field :email, class: "setting-entry", value: current_user.email, readonly: true %>
        </div>

	<div class="margin-vertical-15px">
          <div class="setting-segment-title">密码</div>
	  <a href="#"
             class="text-link-button">
            修改密码
          </a>
	  <a href="#"
             class="text-link-button">
            找回密码
          </a>
        </div>

	<div class="margin-vertical-15px">
          <div class="setting-segment-title"></div>
	  <%= f.submit "保存", class: "btn btn-primary" %>
        </div>

      <% end %>
  </body>
</html>
