<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="content-page-body" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>
    <div class="board-box">

      <div class="link-button-group">
        <span class="glyphicon glyphicon-plus"></span>
        <%= link_to "新建项目", new_team_project_path, :class => "link-button" %>
        <div class="float-right">
          <span class="glyphicon glyphicon-star link-button"></span>
          <span class="glyphicon glyphicon-th-large link-button"></span>
          <span class="glyphicon glyphicon-search link-button"></span>
        </div>
      </div>

      <div class="grid-container" id="sortableContainer">
        <% current_team.projects.each do |project| %>
	  <%= link_to project_url(project.hashid) do %>
            <div class="project-item">
              <div class="flex-column-center">
		<span class="glyphicon <%= project.icon %> project-icon"></span>
		<div class="project-name"><%= project.name %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </body>
</html>
