<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="content-page-body" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>
    <div class="project-box">

      <div class="project-button-group">
        <span class="glyphicon glyphicon-plus"></span>
        <%= link_to "新建项目", new_team_project_path, :class => "project-button" %>
        <div class="float-right">
          <span class="glyphicon glyphicon-star project-button"></span>
          <span class="glyphicon glyphicon-th-large project-button"></span>
          <span class="glyphicon glyphicon-search project-button"></span>
        </div>
      </div>

      <div class="project-container" id="sortableContainer">
        <% Team.find_by_hashid(params[:team_id]).projects.each do |project| %>
          <div class="project-item">
            <div class="flex-column-center">
              <span class="glyphicon <%= project.icon %> project-icon"></span>
              <div class="project-name"><%= project.name %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>
