<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag "application" %>
  </head>
  <body class="content-page-body" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>
    <div class="board-box position-relative"
         data-controller="mission"
         data-mission-mission-list-top="36">
      <div class="project-title"><%= @project.name %> </div>
      <div class="project-splitter"></div>

      <div class="mission-list-area-parent">
        <div class="mission-list-area"
             data-target="mission.missionListArea"
             data-action="scroll@window->mission#onScroll">
          <ul class="mission-list-scrollarea">
	    <% if @project.mission_lists.length > 0 %>
              <% @project.mission_lists.each do |mission_list| %>
                <%= render "mission_lists/create_mission_list_item", mission_list: mission_list %>
              <% end %>
            <% else %>
              <li id="mission-list-0"
		  class="mission-list">
		默认任务列表
	      </li>
	    <% end %>
          </ul>
	  <ul>
            <li class="mission-list-new-form-item">
              <div class="mission-list-new-form"
                   data-target="mission.missionListNewForm">
                <div class="flex-vcenter">
                  <input type="text"
			 class="mission-list-new-input"
			 placeholder="新的任务清单"
			 data-action="keydown->mission#enterMissionListAdd">
                </div>
                <div>
                  <a href="#"
                     class="btn-sm mission-list-new-submit-button"
                     data-action="mission#clickMissionListAddButton">
                    添加任务清单</a>
                  <a href="#"
                     class="link-button-small"
                     data-target="mission.missionListCancelButton"
                     data-action="mission#clickMissionListCancelButton">
                    取消</a>
                </div>
              </div>
            </li>
            <li>
              <a href="#"
                 class="mission-list-add-button"
                 data-target="mission.missionListNewButton"
                 data-action="mission#clickMissionListNewButton">
                添加新任务清单
              </a>
            </li>
	  </ul>
        </div>
      </div>

      <% if @project.mission_lists.length > 0 %>
        <% @project.mission_lists.each do |mission_list| %>
          <%= render "mission_lists/create_mission_list", mission_list: mission_list %>
        <% end %>
      <% else %>
        <ul id="mission-list-title-0"
            class="mission-list-title"
            data-target="mission.missionListTitle">
          <span>默认任务列表</span>
          <li class="mission-new-form-item">
            <div class="mission-new-form"
                 data-target="mission.missionNewForm">
	      <div class="flex-vcenter">
                <label class="mission-new-rectangle"></label>
                <input type="text"
		       class="mission-new-input"
		       placeholder="新的任务"
		       data-action="keydown->mission#enterMissionNew">
                <button type="button" class="btn mission-distributor">未指派</button>
	      </div>
	      <div>
                <button class="btn-sm mission-new-submit-button"
                        data-action="mission#clickMissionSubmitButton">
                  添加任务
                </button>
                <a href="#"
                   class="link-button-small"
                   data-target="mission.missionCancelButton"
                   data-action="mission#clickMissionCancelButton">
                  取消
                </a>
	      </div>
            </div>
          </li>
          <li>
            <a href="#"
	       class="mission-add-button"
	       data-target="mission.missionNewButton"
	       data-action="mission#clickMissionNewButton">
	      添加新任务
            </a>
          </li>
        </ul>
      <% end %>

    </div>
  </body>
</html>
