<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag "application" %>
  </head>
  <body class="content-page-body" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>
    <div class="board-box position-relative"
         data-controller="mission"
         data-mission-mission-list-top="36">
      <div class="project-title"><%= @project.name %> </div>
      <div class="project-splitter"></div>

      <div class="mission-list-area-parent">
        <div class="mission-list-area"
             data-target="mission.missionListArea"
             data-action="scroll@window->mission#onScroll">
          <ul class="mission-list-scrollarea">
	    <% @project.mission_lists.each do |mission_list| %>
	      <%= render "mission_lists/create_mission_list_item", mission_list: mission_list %>
	    <% end %>
          </ul>
	  <ul>
            <li class="mission-list-new-form-item">
              <div class="mission-list-new-form"
                   data-target="mission.missionListNewForm">
                <div class="flex-vcenter">
                  <input type="text"
			 class="mission-list-new-input"
			 placeholder="新的任务清单"
			 data-action="mission#clickMissionListAddButton">
                </div>
                <div>
                  <a href="#"
                     class="btn-sm mission-list-new-submit-button"
                     data-action="mission#clickMissionListAddButton">
                    添加任务清单</a>
                  <a href="#"
                     class="link-button-small"
                     data-target="mission.missionListCancelButton"
                     data-action="mission#clickMissionListCancelButton">
                    取消</a>
                </div>
              </div>
            </li>
            <li>
              <a href="#"
                 class="mission-list-add-button"
                 data-target="mission.missionListNewButton"
                 data-action="mission#clickMissionListNewButton">
                添加新任务清单
              </a>
            </li>
	  </ul>
        </div>
      </div>

      <% @project.mission_lists.each do |mission_list| %>
        <%= render "mission_lists/create_mission_list", mission_list: mission_list %>
      <% end %>

    </div>
  </body>
</html>
