<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag "application" %>
  </head>
  <body class="project-page content-page-body" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>
    <div class="board-box position-relative">
      <div class="project-title"><%= Project.find_by_hashid(params[:id]).name %> </div>
      <div class="project-splitter-bold"></div>
      <div class="project-splitter-light"></div>

      <div class="mission-list-area-parent">
	<div class="mission-list-area">
	  <ul>
	    <li class="mission-list">
	      默认任务清单1
	    </li>
	    <li class="mission-list">
	      默认任务清单2
	    </li>
	    <li class="mission-list">
	      默认任务清单3
	    </li>
	    <li class="mission-list">
	      默认任务清单4
	    </li>
	    <li class="mission-list">
	      默认任务清单5
	    </li>
	    <li class="mission-list">
	      默认任务清单6
	    </li>
	    <li>
	      <a href="#" class="mission-list-add-button">添加新任务清单</a>
	    </li>
	  </ul>
	</div>
      </div>

      <ul class="mission-list-title">默认任务清单
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务试图
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务清单添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <label class="mission-container">完成任务添加
	    <input type="checkbox">
	    <span class="checkmark"></span>
	    <button type="button" class="btn mission-distributor">未指派</button>
	  </label>
	</li>
	<li>
	  <a href="#" class="mission-add-button">添加新任务</a>
	</li>
      </ul>

    </div>
  </body>
</html>
