<ul id=<%= mission_list.hashid %>
    class="mission-list-title"
    data-target="mission.missionListTitle">
  <div>
    <div class="mission-save-form">
      <div class="flex-vcenter">
        <input type="text"
               class="mission-save-input"
               placeholder="请输入任务清单名称"
	       autofocus="true"
	       data-action="keydown->mission#enterEditMissionList">
      </div>
      <div>
        <button class="btn-sm mission-save-button"
		data-action="mission#clickEditMissionListSubmitButton">
          保存
        </button>
        <a href="#"
           class="link-button-small"
	   data-action="mission#cancelEditMissionList">
          取消
        </a>
      </div>
    </div>
    <%= link_to project_mission_list_url(@project.hashid, mission_list.hashid) do %>
      <span>
        <%= mission_list.name %>
      </span>
    <% end %>
  </div>
  <% mission_list.missions.each do |mission| %>
    <%= render "missions/create_mission", mission: mission %>
  <% end %>
  <%= render "mission_lists/mission_new_form" %>
</ul>
