<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="fill-background-color" id="<%= controller.controller_name %>-<%= controller.action_name %>">

    <%= render "layouts/menu_eventarea" %>
    <%= render "layouts/loading_dialog", message: "正在删除任务列表..." %>
    <%= render "layouts/confirm_dialog", dialogid: "mission-confirm-dialog", message: "确定要删除这个任务吗?", controller: "mission", action: "mission#deleteMission" %>

    <%= render "layouts/mission_toolbar",
    delete_dialog: "#mission-confirm-dialog",
    dialog_id: "mission-confirm-dialog"
    %>
    <%= render 'layouts/header' %>

    <%= render "layouts/mission_distributor_menu" %>

    <%= link_to project_url(@project.hashid) do %>
      <div class="bread-crumbs-big">
        <%= @project.name %>
      </div>
    <% end %>

    <div class="right-float-menu-top"></div>

    <div data-controller="mission rightfloatmenu"
         data-rightfloatmenu-top-offset="80"
         class="board-box min-board-height right-float-menu-parent">
      <%= render "layouts/confirm_dialog", dialogid: "confirm-dialog", message: "确定要删除这个任务清单吗?", controller: "mission", action: "mission#deleteMissionList" %>

      <%= render "layouts/right_float_menu", edit_action: "mission#editMissionList" %>

      <%= render "mission_lists/create_mission_list", mission_list: @mission_list, show_finished_missions: true %>
    </div>

  </body>
</html>
