<li id=<%= mission.hashid %>
    data-action="mouseenter->mission#mouseEnterMission mouseleave->mission#mouseLeaveMission">
  <input type="checkbox"
         class="mission-checkbox"
         data-action="mission#reopenMission"
         id="<%= mission.hashid %> opened_mission_checkbox"
         checked>
  <label for="<%= mission.hashid %> opened_mission_checkbox"
         class="mission-title">
  </label>
  <%= link_to project_mission_url(mission.project_hashid, mission.hashid) do %>
    <span id=<%= mission.hashid %>
	  class="mission-title-link">
      <%= mission.name %>
    </span>
  <% end %>
</li>
