<li id=<%= mission.hashid %>
    data-action="mouseenter->mission#mouseEnterMission mouseleave->mission#mouseLeaveMission">
  <input type="checkbox" class="mission-checkbox" id=<%= mission.hashid %>>
  <label for=<%= mission.hashid %>
         class="mission-title">
    <a href="#"
       id=<%= mission.hashid %>
       class="mission-title-link"
       data-action="mission#jumpToMissionPage">
      <%= mission.name %>
    </a>
  </label>
  <button type="button" class="btn mission-distributor">未指派</button>
</li>
<%= render "mission_lists/mission_edit_form" %>
