<li id=<%= mission.hashid %>>
  <input type="checkbox" class="mission-checkbox" id=<%= mission.hashid %>>
  <label for=<%= mission.hashid %> class="mission-title">
    <a href="#"
       id=<%= mission.hashid %>
       class="mission-title-link"
       data-action="mouseover->mission#mouseOverMission mouseout->mission#mouseOutMission">
      <%= mission.name %>
    </a>
  </label>
  <button type="button" class="btn mission-distributor">未指派</button>
</li>
