<li id=<%= mission.hashid %>
    data-project-hashid="<%= mission.project_hashid %>"
    data-action="mouseenter->mission#mouseEnterMission mouseleave->mission#mouseLeaveMission">
  <input type="checkbox"
         class="mission-checkbox"
         data-action="mission#closeMission"
	 id="<%= mission.hashid %> opened_mission_checkbox">
  <label for="<%= mission.hashid %> opened_mission_checkbox"
         class="mission-title">
  </label>
  <%= link_to project_mission_url(mission.project_hashid, mission.hashid) do %>
    <span id=<%= mission.hashid %>
	  class="mission-title-link">
      <%= mission.name %>
    </span>
  <% end %>

  <% if mission.comments.length > 0 %>
    <%= link_to project_mission_url(mission.project_hashid, mission.hashid) do %>
      <span id=<%= mission.hashid %>
	    class="mission-distributor-button mission-distributor-confirm">
	<%= mission.comments.length %>条评论
      </span>
    <% end %>
  <% end %>
  <%= render "layouts/mission_distributor_button", mission: mission %>
  <% if show_project %>
    <%= link_to project_url(mission.project_hashid) do%>
      <button type="button"
              id=<%= mission.hashid %>
              class="mission-distributor-button mission-distributor-confirm">
        <%= mission.project_name %>
      </button>
    <% end %>
  <% end %>
</li>
<%= render "mission_lists/mission_edit_form", mission: mission %>
