<div class="background-eventarea"
     data-controller="header"
     data-action="click@window->header#onClick">
</div>

<div class="top-header"
     data-controller="header">
  <div><%= link_to current_team.name, root_path, :class => "team-name"%></div>
  <div><%= link_to "项目", team_projects_url(current_team.hashid), :class => "top-header-item" %></div>
  <div><%= link_to "动态", root_path, :class => "top-header-item" %></div>
  <div><%= link_to "团队", team_members_url(current_team.hashid), :class => "top-header-item" %></div>
  <div><%= link_to "我自己", user_path(current_user.id), :class => "top-header-item" %></div>
  <div class="top-header-blank"></div>
  <form class="navbar-form" role="search">
    <div class="input-group input-group-sm mb-3 top-search-bar-group">
      <input type="text" class="form-control top-search-bar-input" placeholder="搜索任务">
      <div class="input-group-btn">
	<button class="btn btn-default top-search-bar-button" type="submit">
	  <span class="glyphicon glyphicon-search top-search-bar-icon"></span>
	</button>
      </div>
    </div>
  </form>
  <div class="glyphicon glyphicon-bell top-header-item"></div>
  <div class="inline-block">
    <%= current_user.name %>
  </div>
  <a href="#"
     class="glyphicon glyphicon-triangle-bottom top-header-item top-header-menu-button"
     data-action="header#popMenu"></a>
</div>

<div class="top-header-menu">
  <ul>
    <li class="top-header-menu-item-user">
      <div class="top-header-menu-user-name">
	<div class="inline-block">
	  <%= current_user.name %>
	</div>
	<span class="glyphicon glyphicon-tower inline-block"></span>
        <div class="inline-block">
          <%= current_team.name %>
        </div>
      </div>
      <div class="top-header-menu-item-text top-header-menu-email">
        <%= current_user.email %>
      </div>
    </li>
    <li class="splitter"></li>
    <li class="top-header-menu-item">
      <div class="top-header-menu-item-title">个人设置</div>
      <div class="top-header-menu-item-text">头像、名字、密码、通知等</div>
    </li>
    <li class="splitter"></li>
    <li class="top-header-menu-item-no-hover">
      <div class="top-header-menu-item-text">切换到...</div>
    </li>
    <li class="top-header-menu-item">
      <div class="top-header-menu-item-title">+创建新团队</div>
    </li>
    <li class="splitter"></li>
    <li class="top-header-menu-item">
      <%= link_to sign_out_path, method: :delete do %>
        <div class="top-header-menu-item-button">退出登录</div>
      <% end %>
    </li>
  </ul>
</div>
