<button type="button"
        <% if mission.nil? %>
        class="mission-distributor-button mission-distributor-empty"
        data-missionid=""
        data-userid=""
        data-username=""
        data-date=""
        <% else %>
        class="<%= mission.mission_distributor_button_class %>"
        data-missionid="<%= mission.hashid %>"
        data-userid="<%= mission.user_id %>"
        data-username="<%= mission.user_name %>"
        data-date="<%= mission.format_finish_time %>"
        <% end %>
        data-controller="missiondistributor"
        data-action="missiondistributor#clickDistributorButton">
  <% if mission %>
    <%= mission.format_distributor_info %>
  <% else %>
    未指派
  <% end %>
</button>
