<body class="fill-background-color" id="<%= controller.controller_name %>-<%= controller.action_name %>">
  <%= render 'layouts/header' %>
  <div class="board-box min-board-height">
    <div class="page-title">成员</div>
    <div class="member-count">
      (共 <%= @member_array.length %> 人)
    </div>
    <% if team_administrator? %>
      <%= link_to "添加新成员", new_team_member_path, :class => "float-right add-link-button member-invite-button" %>
    <% end %>
    <ul>
      <% @member_array.each do |member| %>
        <% if member[:active] || team_administrator? %>
          <li class="member-item flex-vcenter">
            <div class="member-item-icon">
              <%= image_tag member[:photo_url], width: 48, height: 48, class: "avatar" %>
            </div>
            <div class="member-item-name">
              <%= link_to member_path(member[:user_hashid]), class: "member-item-name-button" do %>
                <%= member[:name] %>
              <% end %>
            </div>
            <div class= <%= member[:color] %>>
              <%= member[:type] %>
            </div>
            <div class="member-item-email">
              <%= member[:email] %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</body>
