<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag "application" %>
  </head>
  <body class="content-page-body" id="<%= controller.controller_name %>-<%= controller.action_name %>">
    <%= render 'layouts/header' %>

    <%= link_to team_members_url(params[:team_id]) do %>
      <div class="bread-crumbs-big">
	团队
      </div>
    <% end %>

    <div class="board-box"
         data-controller="member">
      <div>
	<div class="member-icon">Icon</div>
	<div class="member-name-and-email">
	  <div class="member-name"><%= @user_name %></div>
	  <div class="member-email"><%= @user.email %></div>
	</div>
      </div>

      <div class="member-splitter"></div>

      <div>
	<h4 class="setting-page-action-title">他没有收到邀请邮件?</h4>
	<span class="setting-page-action-summary">如果 <%= @user_name %> 没有收到邀请邮件，请将下面的邀请地址直接发给他：</span>
      </div>

      <div class="setting-page-action">
	<h4 class="setting-page-action-title">取消对 <%= @user_name %> 的邀请</h4>
	<span class="setting-page-action-summary">取消邀请后，发送给他的邀请链接将失效，无法激活账号。</span>
	<div class="setting-page-delete-link">
          了解, 取消邀请
        </div>
      </div>
    </div>

  </body>
</html>
